.button, .button.button-positive {
  border-color: #3E4C85;
  background-color: #3E4C85;
  color: white;
}

.button:hover, .button-positive:hover {
  color: white;
}

.bar.bar-stable {
  background-color: #9BDAF0;
}

.pane, .view {
  background-color: #E3E3E2;
}

.scroll {
  padding: 10px;
}
