<ion-view view-title="Scan" cache-view="false">
  <ion-content>
    <button class="button button-block icon-left ion-ios-close" ng-click="stop()" ng-if="scanning">Stop Scan</button>
    <button class="button button-block icon-left ion-search" ng-click="start()" ng-if="!scanning">Start Scan</button>
    <button class="button button-block icon-left ion-trash-a" ng-click="erase()">Clear List</button>
    <div class="list">
      <li class="item item-divider">
        Device List
      </li>
      <li ng-repeat="device in deviceList.newer" class="item" ng-click="toggleDevice($index, true)">
        {{device.name}}
        <span class="item-note">
          {{device.address}}
        </span>
        <button class="button button-block icon-left ion-eye" ng-click="info(device)" ng-if="device.toggled">Info</button>
        <button class="button button-block icon-left ion-arrow-right-a" ui-sref="app.leConnect({deviceAddress: '{{device.address}}'})" ng-if="device.toggled">Connect</button>
      </li>
      <div ng-if="deviceList.older.length">
        <li class="item item-divider">
          Previously Seen Devices (may not be available)
        </li>
        <li ng-repeat="device in deviceList.older" class="item" ng-click="toggleDevice($index, false)">
          {{device.name}}
          <span class="item-note">
            {{device.address}}
          </span>
          <button class="button button-block icon-left ion-eye" ng-click="info(device)" ng-if="device.toggled">Info</button>
          <button class="button button-block icon-left ion-arrow-right-a" ui-sref="app.leConnect({deviceAddress: '{{device.address}}'})" ng-if="device.toggled">Connect</button>
        </li>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer" ng-if="scanning">
    Scanning ... <ion-spinner></ion-spinner>
  </div>
</ion-view>