<ion-view view-title="Home" cache-view="false">
  <ion-content>
    <button class="button button-block icon-right ion-ios-rewind" ng-click="vm.init()" ng-if="vm.initFailed">Failed to initialize Bluetooth. Try again?</button>
    <button class="button button-block icon-right ion-flash" ui-sref="app.leScan" ng-if="vm.leReady">Search for Low Energy Devices</button>
    <button class="button button-block icon-right ion-search" ui-sref="app.classicDiscover" ng-if="vm.classicReady">Search for Classic Devices</button>
  </ion-content>
</ion-view>
