<ion-view view-title="Connect" cache-view="false">
  <ion-content>
    <button class="button button-block icon-left ion-bluetooth" ng-click="connect()" ng-if="!connected">Connect</button>
    <div ng-if="connected">
      <button class="button button-block icon-left ion-ios-close" ng-click="disconnect()">Disconnect</button>
      <h3>Messages sent from device:</h3>
      <p><br>{{inMessage}}<br></p>
      <h3>Messages sent to device:</h3>
      <p><br>{{outMessage}}</p>
      <label class="item item-input">
        <span class="input-label">Your message:</span>
        <input type="text" ng-model="vm.newMessage" class="text-right">
      </label>
      <button class="button button-block icon-left ion-paper-airplane" ng-click="write()">
        Send new message to device?
      </button>
    </div>
  </ion-content>
</ion-view>