<ion-view view-title="Connect" cache-view="false">
  <ion-content>
    <button class="button button-block icon-left ion-bluetooth" ng-click="connect()" ng-if="!connected">Connect</button>
    <div ng-if="connected">
      <button class="button button-block icon-left ion-ios-close" ng-click="disconnect()">Disconnect</button>
      <div ng-if="configurationState===3">
        <h3>Messages sent from device:</h3>
        <p><br>{{inMessage}}<br></p>
        <h3>Messages sent to device:</h3>
        <p><br>{{outMessage}}</p>
        <label class="item item-input">
          <span class="input-label">Your message:</span>
          <input type="text" ng-model="vm.newMessage" class="text-right">
        </label>
        <button class="button button-block icon-left ion-paper-airplane" ng-click="write()">
          Send new message to device?
        </button>
      </div>

      <div ng-if="configurationState<3">
        <h2>GATT data schema:</h2>
        <button class="button button-block icon-right ion-arrow-right-c calm" ng-click="next()" ng-if="configurationState===0">Next</button>
        <li ng-repeat="service in services" class="item">
          {{service.uuid}}
          <span class="item-note">
            service
          </span>

          <div ng-repeat="characteristic in service.characteristics">
            <div ng-if="configurationState===2">
              <button class="button button-block" ng-click="chooseWrite({service: '{{service.uuid}}', characteristic: '{{characteristic.uuid}}'})" ng-if="characteristic.properties.write || characteristic.properties.writeWithoutResponse">
                <center>{{characteristic.uuid}}</center>
                <span class="item-note">
                  {{characteristic.properties}}
                </span>
              </button>
            </div>

            <div ng-if="configurationState===1">
              <button class="button button-block" ng-click="chooseRead({service: '{{service.uuid}}', characteristic: '{{characteristic.uuid}}'})" ng-if="characteristic.properties.notify || characteristic.properties.indicate">
                <center>{{characteristic.uuid}}</center>
                <span class="item-note">
                  {{characteristic.properties}}
                </span>
              </button>
            </div>

            <div ng-if="configurationState===0">
              <button class="button button-block" ng-click="readOnce({service: '{{service.uuid}}', characteristic: '{{characteristic.uuid}}'})" ng-disabled="!(characteristic.properties.read)">
                <center>{{characteristic.uuid}}</center>
                <span class="item-note">
                  {{characteristic.properties}}
                </span>
              </button>

              <div class="button-bar">
                <button ng-repeat="descriptor in characteristic.descriptors" class="button" ng-click="readOnce({service: '{{service.uuid}}', characteristic: '{{characteristic.uuid}}', descriptor: '{{descriptor.uuid}}'})">
                  <center>{{descriptor.uuid}}</center>
                  <span class="item-note">
                    descriptor
                  </span>
                </button>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer" ng-if="configurationState===0">
    <button class="button button-bar icon-right ion-arrow-right-c calm" ng-click="next()">Next</button>
  </div>
</ion-view>